
h3 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.selected:hover {
    color: rgb(240, 122, 122);
}

a {
    color: rgb(255, 0, 13);
    font-size:12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color: rgb(187, 30, 30);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

form {
    background-color:mintcream;
    
}
.case{
    background-color: rgb(248, 169, 138);
    font-weight: bold;
}

.new{
    background-color: rgb(247, 141, 100);
    font-weight: bold;
}

.death{
    background-color: lightgray;
    font-weight: bold;
}

.rec{
    background-color: lightgreen;
    font-weight: bold;
}

.mid{    background-color:rgb(252, 252, 138);
    font-weight: bold;
}

.country{
    background-color: seashell;
    font-weight: bold;
}

.critical{
    background-color:red;
    font-weight: bold;
}

th{
    background-color: lightskyblue;
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

th:hover {
    background-color: rgb(8, 181, 250);
}

.input-group .fa-search{
    display: table-cell;
}

.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;        
    background: rgb(109, 180, 125);
    padding: 10px 0;
    color: whitesmoke;
}
.fixed-header{
    top: 0;
}
.fixed-footer{
    bottom: 0;
}
.container{
    width: 80%;
    margin: 0 auto; /* Center the DIV horizontally */
}
nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}